body {
    font-family: 'Arial', sans-serif;
    font-size:20px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(image/17519.jpg);
    
}


#app {
     text-align: center;
    /* background-color: #fff;  */
    padding: 20px;
     border-radius: 8px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);  */
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

li span {
    flex-grow: 1;
    margin-right: 10px;
}

li button {
    background-color: #e74c3c;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
.input{
    font-size: 15px;
    border-radius: 15px;
    height: 35px;
    width: 20vw;
    border: none;
    background-color: rgba(128, 128, 128, 0.249);
    text-align: start;
}
.button{
    background-color: #e74c3c;
    border: none;
    font-size: 15px;
    border-radius: 15px;
    height: 33px;
    width: 60px;
}
